server {
    listen ${PORT};
    server_name localhost;

    root /usr/share/nginx/html;
    index index.html index.htm;

    # Required for Google Sign-In popup
    add_header Cross-Origin-Opener-Policy "same-origin-allow-popups";
    add_header Cross-Origin-Embedder-Policy "unsafe-none";

    # Support for Angular routing
    location / {
        try_files $uri $uri/ /index.html;
    }
}
